* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background: #111d4a;
}
.container {
	padding: 40px;
	margin: 0 auto;
	max-width: 1000px;
	text-align: center;
}
.employee {
	background: #eaeaea;
	border-radius: 3px;
	padding: 10px;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas:
		'name image'
		'house image';
	text-align: left;
	cursor: pointer;
	transition: all 0.8s linear;
}

.employee > h4 {
	text-transform: capitalize;
	margin: 0.5rem;
	letter-spacing: 0.15rem;
}
.employee:hover {
	box-shadow: 10px 15px 10px rgba(233, 225, 225, 0.8);
}
.employee > h2 {
	grid-area: name;
	margin-bottom: 0px;
}
h1 {
	color: #444;
	margin-bottom: 30px;
}
.text-center {
	text-align: center;
	color: #fff;
	padding: 1rem;
}
.employee > p {
	grid-area: house;
	margin: 0;
	margin-top: -18px;
}

.employee > img {
	max-height: 17rem;
	grid-area: image;
	border-radius: 50%;
	border: 0.1rem solid coral;
}
